@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix text shifting issue with https://github.com/niklasvh/html2canvas/issues/2775 */
@layer base {
  img {
    @apply inline-block;
  }
}

.md-editor {
  height: 100% !important;
}

.md-editor .cm-editor {
  height: 100% !important;
}

.md-editor .cm-editor.cm-focused {
  outline: none;
}

.md-editor .cm-scroller {
  display: block!important;
  overflow-x: hidden;
  padding: 20px;
}

.md-editor .cm-scroller::-webkit-scrollbar {
  display: none;
}

.md-editor .cm-line {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.preview-wrap::-webkit-scrollbar {
  display: none;
}
